#noteModal.modal.hide.fade
  .modal-header
    %button.close{:type => "button", :data => {:dismiss => "modal"}, :aria => {:hidden => "true"}} &times;
<<<<<<< HEAD
    %h3
      %span.note-title
      = link_to "Share Note", "#", :class => 'btn btn-share', :onclick => "shareNote();"
  .modal-body
    %p
=======
    %h3 Modal header
  .modal-body
    %p note contents
>>>>>>> 36a2f3959683644bcb532aad8e692ce805cf3d76
  .modal-footer
