.row-fluid
  .span8.offset2
    %h1.pagination-centered Network Stickies!
- unless user_signed_in?
  .row-fluid
    .span8.offset2
      .well.pagination-centered
        Network Stickies is your handy online sticky note app, when all else is there.
